.container{
    height: var(--navbar-height);
    top: 0;

    justify-content: space-between;

    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #0000004f;
    box-sizing: border-box;
    display: flex;
    padding: 11px var(--container-sides-padding);
    position: fixed;
    width: 100%;
    z-index: 99990;
}

.auth{
    display: flex;
    align-items: center;
    gap: 15px;    
}