.fabContainer {
    position: fixed;
    top: calc(var(--navbar-height) + var(--spacing-md));
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(-1*(var(--control-height-md) + var(--spacing-sm)));
}

.fabButton {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: var(--radius-md);
    width: var(--control-height-md);
    height: var(--control-height-md);
    font-size: var(--font-size-xl);
    cursor: pointer;
    box-shadow: var(--shadow-md);
    transition: background 0.2s ease, backdrop-filter 0.2s ease;
    backdrop-filter: blur(6px);
    opacity: 0.9;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);
    background-color: var(--color-btn-secondary-bg);
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--color-border);
}

.fabIconClose{
    margin-bottom: 6px;
    font-size: var(--font-size-3xl);
}

.fabIconMenu{
    margin-bottom: 3px;
}

.fabButton:hover {
    background-color: var(--color-btn-secondary-hover-bg);
}

.menuWrapper {
    position: absolute;
    top: 0;
    left: 0;
    
    margin-top: calc(var(--control-height-md) + var(--spacing-sm));
    
    /* Default closed state */
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: none;
    
    /* Animation */
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    backdrop-filter: blur(8px);
}

.linksSection{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.menuOpen {
    opacity: 0.95;
    transform: translateY(0);
    pointer-events: auto;
}

.menuClosed {
    opacity: 0;
    transform: translateY(-12px);
    pointer-events: none;
}

.avatarWrapper {
    display: inline-block;
}

.link {        
    white-space: nowrap;
}

.link:hover {

}

.active {

}

@media (max-width: 1060px) {
    .fabContainer {
        left: calc(var(--container-sides-padding) - (var(--container-sides-padding) / 2));
        margin-left: 0;
    }
}