.container {
    position: relative;
    display: inline-block;
  }
  
  .button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.2s ease;
    color: var(--color-text);
    box-shadow: none;
  }

  .button:hover{
    background: transparent;
    color: var(--color-accent);
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    overflow: hidden;
    text-align: right;
    right: calc(-50% + 4px);
    margin-top: 8px;
    max-height: 320px;
    overflow-y: auto;

    z-index: 1000;
    display: flex;
    flex-direction: column;

    gap: 10px;
    cursor: default;

    padding: var(--spacing-sm) var(--spacing-sm); 
  }
  
  .item {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.2s ease;
    color: var(--color-text);
  }

  .item:hover{
    background: transparent;
    color: var(--color-accent);    
  }
  